*.DS_Store
.DS_Store
/.buildpath
/.cache
/.metadata
/.project
/.htaccess
/.htpasswd
/.settings
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/config.php
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt

/pub/media/*.*
!/pub/media/.htaccess
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess
/pub/media/amasty/*
/pub/media/ves/*
/pub/media/magestore/*
/pub/media/attribute/*
/pub/media/order_data/invoice/*
/pub/media/order_data/shipping/*
/pub/media/customer_import/*

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/phpserver/*
/blog/*.log

/blog/wp-config.php
/blog/wp-content/advanced-cache.php
/blog/wp-content/backup-db/
/blog/wp-content/backups/
/blog/wp-content/blogs.dir/
/blog/wp-content/cache/
/blog/wp-content/upgrade/
/blog/wp-content/uploads/
/blog/wp-content/wp-cache-config.php
/blog/wp-content/plugins/hello.php

/blog/.htaccess
/blog/license.txt
/blog/readme.html
/blog/sitemap.xml
/blog/sitemap.xml.gz

/news/*.log

/news/wp-config.php
/news/wp-content/advanced-cache.php
/news/wp-content/backup-db/
/news/wp-content/backups/
/news/wp-content/blogs.dir/
/news/wp-content/cache/
/news/wp-content/upgrade/
/news/wp-content/uploads/
/news/wp-content/wp-cache-config.php
/news/wp-content/plugins/hello.php

/news/.htaccess
/news/license.txt
/news/readme.html
/news/sitemap.xml
/news/sitemap.xml.gz


.bash_history
/.config/*
.gitconfig
.joe_state
/.local/*
/.ssh/*
/stats/*
composer.json
composer.lock
